/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.borders {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  text-align: center;
} */

div { border: 1px solid red}