.full-image {
    background: url('./images/business-camera-car-924676.jpg') no-repeat center center fixed;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    background-size: 100%;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
  }

  .header-text {
    font-size: 3em;
    color: white;
    font-weight: 900;
  }