/* .input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: green;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid green;
    box-shadow: none;
} */

html,
body,
.login-box {
  height: 100%;
}

.btn{
    color: whitesmoke;
}

.card-title{
    color: #b388ff;
    font-weight: bold;
}

.card-content{
    padding-bottom: 0px;
}

.hoverable{
    margin-top: 50px;
}

.input-box{
    color: black;
}

.input-field input:focus + label {
    color: white !important;
  }
  
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #b388ff !important;
    box-shadow: 0 1px 0 0 #b388ff !important
  }
