html,
body,
.login-box {
  height: 100%;
}

.btn{
    color: whitesmoke;
}

.card-title{
    color: teal;
}

.card-content{
    padding-bottom: 0px;
}

.hoverable{
    margin-top: 50px;
}

.input-box{
    color: black;
}

.input-field input:focus + label {
    color: white !important;
  }
  
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid #b388ff !important;
    box-shadow: 0 1px 0 0 #b388ff !important
  }