.pill {
    background: #7E70AF;
    float: left;
    border-radius: 500px;
    padding:5px 8px 5px 8px;
    margin: 3px;
    z-index: 5;
}

.delete {
    background: white;
    border-radius: 50%;
    padding:3px;
}

.padding {
    height:110px;
    margin: 30px;
    background: rgba(5, 5, 5, .4);
}

.chart-background {
    background: white;
    display:inline-block;
    color:white;
    z-index: 3;
}


.btn {
    background: black;
    padding: 20px;
    padding-top:0;
    margin: 0px;
    color: #0ab7e9;
    font-weight: bold;
}

.btn:hover {
    background: #047BA4;
    color: white
}
.btn:focus {
    background: #047BA4;
    color:white;
}

.btn-container {
    margin-top: 5px;
    width: max-content;
    margin-left: 40px;
    border: 1px solid #0ab7e9;
}

.rv-xy-plot__grid-lines__line {
    stroke: #252525;
    stroke-width: 1;
  }

