.pill {
    background: teal;
    float: left;
    border-radius: 500px;
    padding:px;
    margin: 3px;
    z-index: 5;
}

.delete {
    background: white;
    border-radius: 50%;
    padding:3px;
}

.padding {
    height:100px;
    margin: 30px;
    background: rgba(5, 5, 5, .4);
}

.chart-background {

    color:white;
    z-index: 3;
}

.btn {
    background: teal;
    color:white;
    padding:15px;
}